.data-panel-wraper .item {
  display       : flex;
  flex-direction: column;
}

.code-wrapper {
  position  : relative;
  min-height: 138px;
  overflow  : auto;
  border    : 1px solid rgba(255, 255, 255, 0.3);
}

.code-wrapper .btns {
  position: absolute;
  bottom  : 3px;
  right   : 3px;
  float   : right;
  display : flex;
  cursor  : pointer;
  z-index : 99;
}

.code-wrapper .btns div:first-child {
  margin-right: 5px;
}

.code-wrapper .btns i:hover {
  color: #00baff;
}


.code-wrapper .fullscreen {
  display: flex;
  width  : 100%;
  height : 900px;
}

.viz-dialog-wrapper .viz-dialog-content {
  height    : 800px;
  max-height: 75vh;
  z-index   : 999;
}