.preview-wrapper {
  width         : 100%;
  display       : flex;
  flex-direction: column;


}

.preview-wrapper .view {
  background: #2b2f32;
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.5);
  position  : relative;
  flex-grow : 1;
}

.preview-wrapper .tool-bar {
  height    : 30px;
  background: #1d2128;
}