<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <script src='/javascripts/lib/pack.js'></script>
  <script src='/javascripts/lib/loadsh.js'></script>
  <script src='/javascripts/lib/vue.js'></script>
  <script src='/javascripts/lib/vuex.js'></script>
  <script src='/javascripts/lib/axios.js'></script>
  <script src='/javascripts/lib/vue-color.min.js'></script>
  <script src="/javascripts/lib/monaco-editor/min/vs/loader.js"></script>
  <link rel="stylesheet" type="text/css" href='/stylesheets/index.css'>
  <link rel="stylesheet" type="text/css" href='/stylesheets/style.css'>
  </link>
</head>

<body>
  <div id="app"></div>
  <script src='/javascripts/index.js' type="module"></script>
</body>

</html>