.slider-wrapper {
  display        : flex;
  justify-content: space-between;
  align-items    : center;
  width          : 212px;
}

.slider-wrapper .slider {
  width: 140px;
}

.slider-wrapper .text-item {
  display      : flex;
  width        : 63px;
  line-height  : 26px;
  text-align   : center;
  font-size    : 14px;
  color        : var(--C1-2);
  background   : var(--C2-3);
  border       : 1px solid var(--C3-1);
  border-radius: 4px;
  padding      : 0 3px;
}

.slider-wrapper .text-item input {
  width     : 100%;
  height    : 26px;
  outline   : none;
  padding   : 2px 5px 2px 2px;
  text-align: center;
  border    : none;
}

.slider-wrapper .text-item .unit {
  color: var(--C1-4);
}